<% if flash[:notice] %>
  <div class="alert alert-success mt-3" role="alert">
   <div class="notice"> 
     <%=flash[:notice] %> 
   </div>
  </div>
<% end %> 
<div class="card text-center mt-3">
  <div class="card-header">
    Gossip n°<%= params[:id]%>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @gossip.title%></h5>
    <p class="card-text"><%= @gossip.content%></p>
    <p class="card-text"> -- by <%= @gossip.user.first_name%> <%= @gossip.user.last_name%></p>
    <%= link_to "Learn more about #{@gossip.user.first_name}", user_path(@gossip.user.id), class: "text-primary"%>
    <p class="card-text"><i class="fas fa-heart"></i> x <%= @gossip.likes.count %></p>
    <% if session[:user_id] %>
      <% pre_like = @gossip.likes.find { |like| like.user_id == current_user.id} %>
      <% if pre_like %>
        <%= link_to "Unlike", gossip_like_path(@gossip.id, pre_like), method: :delete, :class => "btn btn-info"%>
      <% else %>
          <%= link_to "Like", gossip_likes_path(@gossip.id), method: :post, :class => "btn btn-info"%>
      <% end %>
    <% end %>
  </div>
  <div class="card-footer text-muted font-italic">
    created the <%= @gossip.created_at.strftime("%Y/%m/%d") %> in <%= link_to "#{@gossip.user.city.name}", city_path(@gossip.user.city.id), class: "text-primary"%>
  </div>
</div>
<div class="d-flex flex-row-reverse mt-1">
    <%= link_to "Delete", gossip_path(@gossip.id), method: "delete", class: "badge badge-danger ml-1", data: { confirm: "Are you sure about deleting this gossip ?"}%>
    <%= link_to "Edit", edit_gossip_path, class: "badge badge-secondary ml-1" %>
    <%= link_to "Comment", new_gossip_comment_path(@gossip.id), class: "badge badge-info ml-1" %>
</div>


<ul class="list-group list-group-flush mt-5 col-4 offset-4">
  <% @gossip.comments.each do |comment| %>
  <li class="list-group-item text-center"><%= comment.content%> #<%= comment.user.first_name %> <%= comment.user.last_name %> <%= link_to "Edit", edit_gossip_comment_path(@gossip.id,comment.id), class: "badge badge-secondary ml-1" %></li>
  <% end %>
</ul>
<p class="d-flex flex-row-reverse mt-1">Comment count: <%= @gossip.comments.count%></p>