<% if flash[:notice] %>
  <div class="alert alert-success mt-3" role="alert">
   <div class="notice"> 
     <%=flash[:notice] %> 
   </div>
  </div>
<% end %> 
<div class="card text-center mt-3">
  <div class="card-header">
    Gossip n°<%= params[:id]%>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= @gossip.title%></h5>
    <p class="card-text"><%= @gossip.content%></p>
    <p class="card-text"> -- by <%= @gossip.user.first_name%> <%= @gossip.user.last_name%></p>
    <%= link_to "Learn more about #{@gossip.user.first_name}", user_path(@gossip.user.id), class: "text-primary"%>
  </div>
  <div class="card-footer text-muted font-italic">
    created the <%= @gossip.created_at.strftime("%Y/%m/%d") %> in <%= link_to "#{@gossip.user.city.name}", city_path(@gossip.user.city.id), class: "text-primary"%>
  </div>
</div>
<%= link_to "Delete", gossip_path(@gossip.id), method: "delete", class: "badge badge-danger mt-1 ml-1 float-right", data: { confirm: "Are you sure about deleting this gossip ?"}%>
<%= link_to "Edit", edit_gossip_path, class: "badge badge-secondary mt-1 ml-1 float-right" %>