<h2 class="d-flex justify-content-center mt-3"><%=@city.name%></h2>

<div class="row mt-3">
	<% @gossips.each do |gossip| %>
		<div class="card mx-auto mb-5" style="width: 18rem;">
		  <div class="card-body">
		    <h5 class="card-title"><%= gossip.title %></h5>
		    <p class="card-text"><%= gossip.user.first_name %> <%= gossip.user.last_name %></p>
		    <p class="card-text"><i class="fas fa-heart"></i> x <%= gossip.likes.count %></p>
		    <%= link_to "Show gossip", gossip_path(gossip.id), :class => "btn btn-secondary"%>
		    <% if session[:user_id] %>
          		<% pre_like = gossip.likes.find { |like| like.user_id == current_user.id} %>
          		<% if pre_like %>
              		<%= link_to "Unlike", gossip_like_path(gossip.id, pre_like), method: :delete, :class => "btn btn-info"%>
          		<% else %>
              		<%= link_to "Like", gossip_likes_path(gossip.id), method: :post, :class => "btn btn-info"%>
          		<% end %>
        	<% end %>
		  </div>
		</div>
	<% end %>
</div>


